@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

header{
    width: 100%;
    background-color: white;
}

.h-container{
    max-width: 1340px; 
    padding: 2.5vw 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.h-h1{
    display: flex;
    align-items: center;
    gap: .5vw;
}

.h-h1 h1{
    font-size: 1.5vw;
    font-weight: 500;
    font-family: 'Cabin', sans-serif;
}

.h-h1 img, .h-nav img{
    width: 2vw;
}

.h-nav{
    display: flex;
    cursor: pointer;
    gap: .5vw;
}

.banner{
    margin: 0 auto;
}

.banner img{
    width: 100%;
}

.mid-box{
    max-width: 1340px; 
    padding: 1.5vw 0;   
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    border-bottom: 0.2px solid rgb(165, 161, 161, 0.4);
}

.mid-box h3{
    font-size: 1.2vw;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
}

.mid-box h4{
    font-size: 1vw;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
}

.img-container{
    width: 100%;
    padding-top: 2vw;
}    

.img-wrapper{
    max-width: 1340px; 
    padding: 2vw 0 4vw;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 4.8vw;
    margin: 0 auto;
}

.img-wrapper img{
    width: 20vw;
    height: 20vw;
    object-fit: cover;
}

.fig-txt{
    font-size: 1.2vw;
    font-weight: 500;
    font-family: 'Lato', sans-serif;
}

.valor-simbol{
    font-size: 1.1vw;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
}

.price{
    font-size: 1.1vw;
    font-weight: 600;
    color: #70b23c;
    font-family: 'Lato', sans-serif;
}

footer{
    width: 100%;
    background-color: #f9f9f9;
}

.foot-container{
    max-width: 1340px; 
    padding: 2vw 0 3vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    border-bottom: 0.2px solid rgb(165, 161, 161, 0.4);
}

.f-ul li{
    font-size: 1.1vw;
    line-height: 1.5vw;
    color: black;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
}

.f-form{
    display: flex;
    justify-content: center;
    gap: .5vw;
}

.f-form fieldset{
    border: none;
}

.f-form legend{
    font-size: 1vw;
    padding-bottom: 1vw;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
}

.f-input{
    padding: .8vw 2vw; 
    font-size: 1vw;
    border: none;   
}

.f-input::placeholder{
    text-align: left;
    font-family: 'Lato', sans-serif;
}

.form-div{
    align-self: flex-end;
}

.form-btn{
    font-size: 1vw;
    padding: .8vw 2vw;
    cursor: pointer;
    background-color: #70b23c;
    color: white;
    border: none;
}

.footer-icon{
    max-width: 1340px; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 2vw 0;
}

.div-sociais{
    display: flex;
    gap: 1vw;
}

.div-pag{
    display: flex;
    gap: 1vw;
    cursor: pointer;
}

.footer-icon img{
    width: 3vw;
}

@media(max-width:1440px){
    .h-h1 , .mid-box h3, .f-ul, .div-sociais{
        padding-left: 2vw;
    }

    .h-nav, .mid-box h4, .f-form, .div-pag{
        padding-right: 2vw;
    }

    .img-wrapper img{
        width: 25vw;
        height: 25vw;
    }
}

@media(max-width:600px){
    .h-container{
        margin-bottom: 13vw;
    }

    .h-h1 h1{
        font-size: 4.5vw;
    }

    .h-h1 img, .h-nav img{
        width: 5vw;
    }

    .h-nav{
        gap: 4vw;
    }

    .banner{
        transform: scale(2);
    }

    .mid-box{
        margin-top: 13vw;
        padding: 2vw 0 3vw;
    }

    .mid-box h3{
        font-size: 3.5vw;
    }

    .mid-box h4{
        font-size: 3.5vw;
    }

    .img-wrapper{
        justify-content: flex-start;
        padding-left: 4vw;
        gap: 12vw;
    }

    .img-wrapper img{
        width: 40vw;
        height: 40vw;
    }

    .fig-txt, .valor-simbol, .price{
        font-size: 3.5vw;
    }

    .foot-container{
        align-items: flex-start;
        flex-direction: column;
        gap: 4vw;
        padding-bottom: 5vw;
    }

    .f-ul li{
        font-size: 4.4vw;
        line-height: 6vw;
    }

    .f-form{
        padding-right: 0;
        flex-direction: column;
        align-items: flex-start;
    }

    .f-form legend{
        font-size: 4vw;
    }

    .f-input{
        width: 90vw; 
        height: 8vw;
        margin-bottom: 1vw;
    }

    .f-input::placeholder{
        font-size: 3vw;
    }

    .form-div{
        align-self: flex-start;
    }

    .form-btn{
        width: 90vw; 
        height: 8vw;
        font-size: 3.8vw;
    }

    .h-h1 , .mid-box h3, .f-ul, .f-form, .div-sociais{
        padding-left: 4vw;
    }

    .h-nav, .mid-box h4, .div-pag{
        padding-right: 4vw;
    }

    .div-sociais img, .div-pag img{
        width: 7.5vw;
    }
}